$modal-hdr-height: 28px;

.modal-wrap {
  @extend .hw100;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $modal-wrap-index;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  @extend .pnl;
  background-color: #fff;
  border-radius: $border-radius-lg;
  box-shadow: 0 20px 100px rgba(0, 0, 0,.10), 0 15px 35px rgba(0, 0, 0,.13), 0 5px 15px rgba(0, 0, 0,.10);
  left: 50%;
  position: absolute;
  top: $pad-xl-top;
  z-index: 991;
  height: auto;

  &.xs {
    margin-left: -225px;
    width: 450px;

    .modal-body {
      &.scroll {
        min-height: 50px;
      }
    }
  }

  &.sm {
    margin-left: -300px;
    width: 600px;

    .modal-body {
      &.scroll {
        min-height: 250px;
      }

      &:not(.scroll) {
        max-height: 400px;
      }
    }
  }

  &.md {
    margin-left: -450px;
    width: 850px;

    .modal-body {
      &.scroll {
        min-height: 400px;
      }

      &:not(.scroll) {
        max-height: 500px;
      }
    }
  }

  &.lg {
    margin-left: -(1150px / 2);
    max-width: 1150px;
    width: 90%;

    .modal-body {
      &.scroll {
        min-height: 500px;
      }

      &:not(.scroll) {
        max-height: 600px;
      }
    }
  }

  &.xl {
    margin-left: -49%;
    width: 98%;
    top: $pad-md-top;

    .modal-body {
      &.scroll {
        min-height: 600px;
      }

      &:not(.scroll) {
        max-height: 700px;
      }
    }
  }
}

.modal-hdr,
.pnl-toolbar {
  @extend .pnl-toolbar;
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
  height: $modal-hdr-height;
  overflow: visible;

  .modal-title,
  .pnl-title {
    font-size: $font-size + 1px;
    display: inline-block;
    padding: 5px 8px 3px 8px;
  }

  .modal-btns,
  .pnl-btns {
    float: right;
    padding: 3px;

    .modal-x,
    .modal-minimize,
    .modal-maximize,
    button {
      padding: 1px;
      min-width: 24px;

      &:hover {
        background-color: $gray6;
      }
    }
  }
}

.modal-body,
.pnl-body {
  @extend .pnl;
  @extend .w100;
  background-color: $gray1;
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
  height: 100%;
  padding: $pad-md;
  width: 100%;

  &.scroll {
    // height: 500px;
    // max-height: 100%;
    overflow: auto;
  }

  .scroll-wrap {
    @extend .pnl;
    @extend .w100;
  }
}

.pnl-body {
  height: 100%;
  &.scroll {
    max-height: 100%;
    overflow: auto;
  }
}

.modal-btn-wrap,
.modal-footer {
  @extend .pnl;
  @extend .w100;
  background-color: $gray3;
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
  border-top: 1px solid $border-color;
  padding: $pad-md;

  button, input[type=submit], .btn, .btn-dd, a, .agreement {
    float: right;
    margin-left: 4px;
  }

  .agreement {
    padding-top: $pad-md-top;
    font-size: 12px;
    height: 100%;

    a {
      font-size: 12px;
      float: none;
    }
  }
}