@import '../_shared.scss';

div.NavBar {
  @extend .pnl;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: 100%;
  height: 4rem;
  width: 100%;
  background-color: $dark3;
  padding: 0.4rem 0.8rem;
  border-bottom: 1px solid $dark5;

  img.logo {
    height: 100%;
    width: auto;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .buttons {
    @extend .pnl;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    box-sizing: border-box;
    position: relative;
    padding: 0.6rem 0;
    display: inline-block;
    
    button {
      margin-left: 0.4rem;
      float: right;
    }
  }
}
