@import '_shared.scss';
@import 'style/_helpers.scss';
@import 'style/_btn.scss';
@import 'style/_elements.scss';
@import 'style/_wrappers.scss';
@import 'style/_modal.scss';
@import 'style/_btn-dd.scss';
@import 'style/_helpers.scss';

.App {
  @extend .pnl;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 80rem;
  min-width: 60rem;
  min-height: 30rem;
  margin: 0 auto;
  background-color: $dark2;
}
