@import 'style/_shared.scss';
@import 'style/_helpers.scss';
@import 'style/_btn.scss';
@import 'style/_elements.scss';
@import 'style/_wrappers.scss';
@import 'style/_modal.scss';
@import 'style/_btn-dd.scss';
@import 'style/_helpers.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  text-align: left;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

#root, div.App {
  @extend .pnl;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

div.App {
  padding: $pad-lg;
}

div.Width100Height50 {
  @extend .pnl;
  width: 100%;
  height: 50%;
}

div.DeckListWrap {
  position: relative;
  width: 40%;
  height: 100%;
  margin: 6px;
  max-width: 400px;
  display: inline-block;

  textarea.DeckList {
    height: calc(100% - 36px);
    width: 100%;

    &:focus, &:active {
      border-color: $theme-blue;
    }
  }
}

ul.DiffList {
  list-style-type: none;
  padding-left: 16px;
  text-align: left;
}

.TextCenter {
  text-align: center;
}
